---
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, getUniqueAuthorsWithCount } from "@/data/post";

const allPosts = await getAllPosts();
const allTags = getUniqueAuthorsWithCount(allPosts);

const meta = {
	description: "Redaktionen på Bar Total",
	title: "Redaktionen",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Redaktionen</h1>
	<ul class="space-y-4">
		{
			allTags.map(([author, val]) => (
				<li class="flex items-center gap-x-2">
					💀<a
						class="cactus-link inline-block"
						data-astro-prefetch
						href={`/redaktionen/${author}/`}
						title={`Visa inlägg av: ${author}`}
					>
						{author}
					</a>
					<span class="inline-block">
						- {val} inlägg
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
