---
import Form from "@/components/blog/CommentsForm.astro";

const { 
    name,
    inputs,
    textarea,
    submitMessage = '',
    parentId,
} = Astro.props;

---

<style>
    #dropdownBtn.active::before {
        content: '▾';
    }
    #dropdownBtn::before {
        content: '▸';
        @apply pr-2;
    }
    #dropdownBtn.active span {
        @apply decoration-accent;
    }
</style>

<div class="mt-4 prose max-w-full text-textColor">
  <!--hr class="dark:border-gray-800"-->
  <div class="dropdown">
  <button 
    id="dropdownBtn"
    class="pb-1 mb-0 text-gray-600 dark:text-gray-400 hover:text-textColor dark:hover:text-textColor text-sm flex justify-between items-center w-auto"
    onclick="dropdown(this)"
  >
    <span class="pb-1 hover:underline hover:decoration-accent">svara 💬</span>
  </button>
  <div class="dropdownContent relative transition-all overflow-hidden h-0 mb-0 mt-0 px-1">
  <Form 
    name={name}
    inputs={inputs}
    textarea={textarea}
    submitMessage={submitMessage}
    parentId={parentId}
  />
</div>
</div>
</div>

<script is:inline>
  function dropdown(e) {
    e.nextElementSibling.classList.toggle("h-auto");
    e.classList.toggle("active");
  }
</script>