---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html lang={siteConfig.lang} class="bg-accent">
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
    <div class="fixed z-[-100] inset-0 pointer-events-none w-full h-[100%] bg-bgColor"></div>
	<body class="bg-bgColor">
        <div class="absolute left-0 top-0 w-full pointer-events-none">
            <div class="relative max-w-3xl mx-auto">
                <div class="absolute w-full max-w-full h-6 sm:px-8">
                    <div class="w-full h-full bg-gradient-to-b from-accent rounded-b-md"></div>
                </div>
            </div>
        </div>
        <!--div class="absolute left-0 top-0 w-full h-screen pointer-events-none">
            <div class="relative z-[-2] h-full w-full /*max-w-3xl*/ m-auto rounded-sm h-full">
            <div class="absolute /*mix-blend-overlay*/ w-full h-full  bg-gradient-to-b from-accent via-20% via-link to-bgColor /*rounded-md*/"></div>
            <div class="absolute mix-blend-hard-light w-full h-full m-auto /*skew-x-12*/ bg-gradient-to-r from-accent via-60% via-link to-bgColor-600 "></div>
            <div class="absolute mix-blend-soft-light w-full h-full m-auto /*skew-x-[8deg]*/ bg-gradient-to-l from-accent via-10% via-link to-bgColor-600"></div>
            <div class="absolute mix-blend-difference w-full h-full m-auto  /*skew-x-[-7deg]*/ bg-gradient-to-b from-accent via-10% via-link to-bgColor-600"></div>
            <div class="absolute mix-blend-saturation w-full h-full m-auto /*skew-x-[10deg]*/ bg-gradient-to-r from-link via-10% via-accent to-bgColor-600"></div>
            <div class="absolute mix-blend-saturation dark:mix-blend-plus-lighter w-full h-full m-auto /*skew-x-[-6deg]*/ bg-gradient-to-l from-link via-80% via-accent to-bgColor-600"></div>
            <div class="absolute w-full h-full m-auto bg-gradient-to-t from-bgColor via-30% via-transparent"></div>
            <div class="absolute w-full h-full m-auto bg-gradient-to-t from-bgColor via-80% via-transparent"></div>
            <div class="absolute w-full min-w-3xl h-full m-auto bg-gradient-to-r from-bgColor opacity-80 via-40% via-transparent"></div>
            <div class="absolute w-full min-w-3xl h-full m-auto bg-gradient-to-l from-bgColor opacity-80 via-40% via-transparent"></div>
        </div>
        <div class="fixed left-0 z-[-1] top-0 w-[200%] mx-auto h-screen pointer-events-none">
            <div class=" mt-8 mx-auto rounded-t-[70%] w-full translate-x-[-25%] max-w-[200%] w-full h-[125%] translate-y-[-0rem] m-auto bg-bgColor blur-2xl"></div>
        </div></div-->
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
